<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright PrestaShop -->
<theme directory="electronics" name="electronics" version="1.0">
	<author email="admin@webinopoly.com" name="Webinopoly" url="http://webinopoly.com"/>
	<descriptions>
		<description iso="en"/>
		<description iso="ja"/>
	</descriptions>
	<variations>
		<variation default_left_column="1" default_right_column="1" directory="electronics" from="1.6.0.11" name="electronics" product_per_page="20" responsive="1" to="1.6.0.11"/>
	</variations>
	<docs>
		<doc name="documentation" path="doc/"/>
	</docs>
	<metas>
		<meta left="1" meta_page="pagenotfound" right="1"/>
		<meta left="1" meta_page="best-sales" right="1"/>
		<meta left="1" meta_page="contact" right="1"/>
		<meta left="0" meta_page="index" right="1"/>
		<meta left="1" meta_page="manufacturer" right="1"/>
		<meta left="1" meta_page="new-products" right="1"/>
		<meta left="1" meta_page="password" right="1"/>
		<meta left="1" meta_page="prices-drop" right="1"/>
		<meta left="1" meta_page="sitemap" right="1"/>
		<meta left="1" meta_page="supplier" right="1"/>
		<meta left="1" meta_page="address" right="1"/>
		<meta left="1" meta_page="addresses" right="1"/>
		<meta left="1" meta_page="authentication" right="1"/>
		<meta left="1" meta_page="cart" right="1"/>
		<meta left="1" meta_page="discount" right="1"/>
		<meta left="1" meta_page="history" right="1"/>
		<meta left="1" meta_page="identity" right="1"/>
		<meta left="1" meta_page="my-account" right="1"/>
		<meta left="1" meta_page="order-follow" right="1"/>
		<meta left="1" meta_page="order-slip" right="1"/>
		<meta left="1" meta_page="order" right="1"/>
		<meta left="1" meta_page="search" right="1"/>
		<meta left="1" meta_page="stores" right="1"/>
		<meta left="1" meta_page="order-opc" right="1"/>
		<meta left="1" meta_page="guest-tracking" right="1"/>
		<meta left="1" meta_page="order-confirmation" right="1"/>
		<meta left="1" meta_page="product" right="1"/>
		<meta left="1" meta_page="category" right="1"/>
		<meta left="1" meta_page="cms" right="1"/>
		<meta left="1" meta_page="module-cheque-payment" right="1"/>
		<meta left="1" meta_page="module-cheque-validation" right="1"/>
		<meta left="1" meta_page="module-bankwire-validation" right="1"/>
		<meta left="1" meta_page="module-bankwire-payment" right="1"/>
		<meta left="1" meta_page="products-comparison" right="1"/>
		<meta left="1" meta_page="module-blockwishlist-mywishlist" right="1"/>
		<meta left="1" meta_page="module-blockwishlist-view" right="1"/>
		<meta left="1" meta_page="module-cronjobs-callback" right="1"/>
	</metas>
	<modules>
		<module action="enable" name="socialsharing"/>
		<module action="enable" name="blockbanner"/>
		<module action="enable" name="blockbestsellers"/>
		<module action="enable" name="blockcart"/>
		<module action="enable" name="blocksocial"/>
		<module action="enable" name="blockcategories"/>
		<module action="enable" name="blockcurrencies"/>
		<module action="enable" name="blockfacebook"/>
		<module action="enable" name="blocklanguages"/>
		<module action="enable" name="blocklayered"/>
		<module action="enable" name="blockcms"/>
		<module action="enable" name="blockcmsinfo"/>
		<module action="enable" name="blockcontact"/>
		<module action="enable" name="blockcontactinfos"/>
		<module action="enable" name="blockmanufacturer"/>
		<module action="enable" name="blockmyaccount"/>
		<module action="enable" name="blockmyaccountfooter"/>
		<module action="enable" name="blocknewproducts"/>
		<module action="enable" name="blocknewsletter"/>
		<module action="enable" name="blockpaymentlogo"/>
		<module action="enable" name="blocksearch"/>
		<module action="enable" name="blockspecials"/>
		<module action="enable" name="blockstore"/>
		<module action="enable" name="blocksupplier"/>
		<module action="enable" name="blocktags"/>
		<module action="enable" name="blocktopmenu"/>
		<module action="enable" name="blockuserinfo"/>
		<module action="enable" name="blockviewed"/>
		<module action="enable" name="dashactivity"/>
		<module action="enable" name="dashtrends"/>
		<module action="enable" name="dashgoals"/>
		<module action="enable" name="dashproducts"/>
		<module action="enable" name="homeslider"/>
		<module action="enable" name="homefeatured"/>
		<module action="enable" name="productpaymentlogos"/>
		<module action="enable" name="statsdata"/>
		<module action="enable" name="themeconfigurator"/>
		<module action="enable" name="blockwishlist"/>
		<module action="enable" name="productcomments"/>
		<module action="enable" name="sendtoafriend"/>
		<module action="enable" name="onboarding"/>
		<module action="disable" name="blockadvertising"/>
		<module action="disable" name="blockcustomerprivacy"/>
		<module action="disable" name="blocklink"/>
		<module action="disable" name="blockpermanentlinks"/>
		<module action="disable" name="blockrss"/>
		<module action="disable" name="blocksharefb"/>
		<module action="disable" name="crossselling"/>
		<module action="disable" name="productscategory"/>
		<module action="disable" name="producttooltip"/>
		<module action="disable" name="trackingfront"/>
		<module action="disable" name="vatnumber"/>
		<hooks>
			<hook hook="displayHeader" module="socialsharing" position="1"/>
			<hook hook="displayRightColumnProduct" module="socialsharing" position="1"/>
			<hook hook="actionObjectProductUpdateAfter" module="socialsharing" position="1"/>
			<hook hook="actionObjectProductDeleteAfter" module="socialsharing" position="1"/>
			<hook hook="displayCompareExtraInformation" module="socialsharing" position="1"/>
			<hook hook="displayHeader" module="blockbanner" position="2"/>
			<hook hook="displayBanner" module="blockbanner" position="1"/>
			<hook hook="actionObjectLanguageAddAfter" module="blockbanner" position="1"/>
			<hook exceptions="category,category" hook="displayLeftColumn" module="blockbestsellers" position="1"/>
			<hook hook="displayHeader" module="blockbestsellers" position="3"/>
			<hook hook="actionProductAdd" module="blockbestsellers" position="1"/>
			<hook hook="actionProductUpdate" module="blockbestsellers" position="1"/>
			<hook hook="actionProductDelete" module="blockbestsellers" position="1"/>
			<hook hook="actionOrderStatusPostUpdate" module="blockbestsellers" position="1"/>
			<hook hook="displayHomeTab" module="blockbestsellers" position="3"/>
			<hook hook="displayHomeTabContent" module="blockbestsellers" position="3"/>
			<hook hook="displayHeader" module="blockcart" position="4"/>
			<hook hook="displayTop" module="blockcart" position="2"/>
			<hook hook="actionCartListOverride" module="blockcart" position="1"/>
			<hook hook="displayHeader" module="blocksocial" position="5"/>
			<hook hook="displayFooter" module="blocksocial" position="2"/>
			<hook hook="displayLeftColumn" module="blockcategories" position="2"/>
			<hook hook="displayHeader" module="blockcategories" position="6"/>
			<hook hook="displayFooter" module="blockcategories" position="3"/>
			<hook hook="actionCategoryAdd" module="blockcategories" position="1"/>
			<hook hook="actionCategoryUpdate" module="blockcategories" position="1"/>
			<hook hook="actionCategoryDelete" module="blockcategories" position="1"/>
			<hook hook="displayBackOfficeCategory" module="blockcategories" position="1"/>
			<hook hook="actionAdminMetaControllerUpdate_optionsBefore" module="blockcategories" position="1"/>
			<hook hook="actionAdminLanguagesControllerStatusBefore" module="blockcategories" position="1"/>
			<hook hook="displayHeader" module="blockcurrencies" position="7"/>
			<hook hook="displayNav" module="blockcurrencies" position="2"/>
			<hook hook="displayHome" module="blockfacebook" position="2"/>
			<hook hook="displayHeader" module="blockfacebook" position="8"/>
			<hook hook="displayHeader" module="blocklanguages" position="9"/>
			<hook hook="displayNav" module="blocklanguages" position="3"/>
			<hook hook="displayLeftColumn" module="blocklayered" position="3"/>
			<hook hook="displayHeader" module="blocklayered" position="10"/>
			<hook hook="actionCategoryAdd" module="blocklayered" position="2"/>
			<hook hook="actionCategoryUpdate" module="blocklayered" position="2"/>
			<hook hook="actionCategoryDelete" module="blocklayered" position="2"/>
			<hook hook="displayAttributeGroupForm" module="blocklayered" position="1"/>
			<hook hook="actionAttributeGroupSave" module="blocklayered" position="1"/>
			<hook hook="actionAttributeGroupDelete" module="blocklayered" position="1"/>
			<hook hook="displayFeatureForm" module="blocklayered" position="1"/>
			<hook hook="actionFeatureSave" module="blocklayered" position="1"/>
			<hook hook="actionFeatureDelete" module="blocklayered" position="1"/>
			<hook hook="actionProductSave" module="blocklayered" position="1"/>
			<hook hook="actionProductListOverride" module="blocklayered" position="1"/>
			<hook hook="displayAttributeGroupPostProcess" module="blocklayered" position="1"/>
			<hook hook="displayFeaturePostProcess" module="blocklayered" position="1"/>
			<hook hook="displayFeatureValueForm" module="blocklayered" position="1"/>
			<hook hook="displayFeatureValuePostProcess" module="blocklayered" position="1"/>
			<hook hook="actionFeatureValueDelete" module="blocklayered" position="1"/>
			<hook hook="actionFeatureValueSave" module="blocklayered" position="1"/>
			<hook hook="displayAttributeForm" module="blocklayered" position="1"/>
			<hook hook="actionAttributePostProcess" module="blocklayered" position="1"/>
			<hook hook="actionAttributeDelete" module="blocklayered" position="1"/>
			<hook hook="actionAttributeSave" module="blocklayered" position="1"/>
			<hook hook="displayLeftColumn" module="blockcms" position="4"/>
			<hook hook="displayHeader" module="blockcms" position="11"/>
			<hook hook="displayFooter" module="blockcms" position="4"/>
			<hook hook="actionObjectCmsUpdateAfter" module="blockcms" position="1"/>
			<hook hook="actionObjectCmsDeleteAfter" module="blockcms" position="1"/>
			<hook hook="actionShopDataDuplication" module="blockcms" position="1"/>
			<hook hook="actionAdminStoresControllerUpdate_optionsAfter" module="blockcms" position="1"/>
			<hook hook="displayHome" module="blockcmsinfo" position="3"/>
			<hook hook="displayHeader" module="blockcontact" position="12"/>
			<hook hook="displayNav" module="blockcontact" position="4"/>
			<hook hook="displayHeader" module="blockcontactinfos" position="13"/>
			<hook hook="displayFooter" module="blockcontactinfos" position="6"/>
			<hook exceptions="category,category" hook="displayLeftColumn" module="blockmanufacturer" position="5"/>
			<hook hook="displayHeader" module="blockmanufacturer" position="14"/>
			<hook hook="actionObjectManufacturerDeleteAfter" module="blockmanufacturer" position="1"/>
			<hook hook="actionObjectManufacturerAddAfter" module="blockmanufacturer" position="1"/>
			<hook hook="actionObjectManufacturerUpdateAfter" module="blockmanufacturer" position="1"/>
			<hook exceptions="category,category" hook="displayLeftColumn" module="blockmyaccount" position="6"/>
			<hook hook="displayHeader" module="blockmyaccount" position="15"/>
			<hook hook="actionModuleRegisterHookAfter" module="blockmyaccount" position="1"/>
			<hook hook="actionModuleUnRegisterHookAfter" module="blockmyaccount" position="1"/>
			<hook hook="displayHeader" module="blockmyaccountfooter" position="16"/>
			<hook hook="displayFooter" module="blockmyaccountfooter" position="5"/>
			<hook hook="actionModuleRegisterHookAfter" module="blockmyaccountfooter" position="2"/>
			<hook hook="actionModuleUnRegisterHookAfter" module="blockmyaccountfooter" position="2"/>
			<hook hook="displayLeftColumn" module="blocknewproducts" position="7"/>
			<hook hook="displayHeader" module="blocknewproducts" position="17"/>
			<hook hook="actionProductAdd" module="blocknewproducts" position="2"/>
			<hook hook="actionProductUpdate" module="blocknewproducts" position="2"/>
			<hook hook="actionProductDelete" module="blocknewproducts" position="2"/>
			<hook hook="displayHomeTab" module="blocknewproducts" position="1"/>
			<hook hook="displayHomeTabContent" module="blocknewproducts" position="1"/>
			<hook hook="displayHeader" module="blocknewsletter" position="18"/>
			<hook hook="displayFooter" module="blocknewsletter" position="1"/>
			<hook hook="actionCustomerAccountAdd" module="blocknewsletter" position="1"/>
			<hook exceptions="category,category" hook="displayLeftColumn" module="blockpaymentlogo" position="8"/>
			<hook hook="displayHeader" module="blockpaymentlogo" position="19"/>
			<hook hook="displayHeader" module="blocksearch" position="20"/>
			<hook hook="displayTop" module="blocksearch" position="1"/>
			<hook hook="displayMobileTopSiteMap" module="blocksearch" position="1"/>
			<hook hook="displayLeftColumn" module="blockspecials" position="9"/>
			<hook hook="displayHeader" module="blockspecials" position="21"/>
			<hook hook="actionProductAdd" module="blockspecials" position="3"/>
			<hook hook="actionProductUpdate" module="blockspecials" position="3"/>
			<hook hook="actionProductDelete" module="blockspecials" position="3"/>
			<hook hook="displayLeftColumn" module="blockstore" position="10"/>
			<hook hook="displayHeader" module="blockstore" position="22"/>
			<hook exceptions="category,category" hook="displayLeftColumn" module="blocksupplier" position="11"/>
			<hook hook="displayHeader" module="blocksupplier" position="23"/>
			<hook hook="actionObjectSupplierDeleteAfter" module="blocksupplier" position="1"/>
			<hook hook="actionObjectSupplierAddAfter" module="blocksupplier" position="1"/>
			<hook hook="actionObjectSupplierUpdateAfter" module="blocksupplier" position="1"/>
			<hook hook="displayLeftColumn" module="blocktags" position="12"/>
			<hook hook="displayHeader" module="blocktags" position="24"/>
			<hook hook="displayTop" module="blocktopmenu" position="3"/>
			<hook hook="actionCategoryUpdate" module="blocktopmenu" position="3"/>
			<hook hook="actionObjectProductUpdateAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectProductDeleteAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectCmsUpdateAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectCmsDeleteAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionShopDataDuplication" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectManufacturerDeleteAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectManufacturerAddAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectManufacturerUpdateAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectSupplierDeleteAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectSupplierAddAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectSupplierUpdateAfter" module="blocktopmenu" position="2"/>
			<hook hook="actionObjectCategoryUpdateAfter" module="blocktopmenu" position="1"/>
			<hook hook="actionObjectCategoryDeleteAfter" module="blocktopmenu" position="1"/>
			<hook hook="actionObjectCategoryAddAfter" module="blocktopmenu" position="1"/>
			<hook hook="actionObjectCmsAddAfter" module="blocktopmenu" position="1"/>
			<hook hook="actionObjectProductAddAfter" module="blocktopmenu" position="1"/>
			<hook hook="displayHeader" module="blockuserinfo" position="25"/>
			<hook hook="displayTop" module="blockuserinfo" position="4"/>
			<hook hook="displayNav" module="blockuserinfo" position="1"/>
			<hook hook="displayLeftColumn" module="blockviewed" position="13"/>
			<hook hook="displayHeader" module="blockviewed" position="26"/>
			<hook hook="dashboardZoneOne" module="dashactivity" position="1"/>
			<hook hook="dashboardData" module="dashactivity" position="1"/>
			<hook hook="actionObjectOrderAddAfter" module="dashactivity" position="1"/>
			<hook hook="actionObjectCustomerAddAfter" module="dashactivity" position="1"/>
			<hook hook="actionObjectCustomerMessageAddAfter" module="dashactivity" position="1"/>
			<hook hook="actionObjectCustomerThreadAddAfter" module="dashactivity" position="1"/>
			<hook hook="actionObjectOrderReturnAddAfter" module="dashactivity" position="1"/>
			<hook hook="actionAdminControllerSetMedia" module="dashactivity" position="1"/>
			<hook hook="actionOrderStatusPostUpdate" module="dashtrends" position="2"/>
			<hook hook="dashboardData" module="dashtrends" position="2"/>
			<hook hook="actionAdminControllerSetMedia" module="dashtrends" position="2"/>
			<hook hook="dashboardZoneTwo" module="dashtrends" position="1"/>
			<hook hook="dashboardData" module="dashgoals" position="3"/>
			<hook hook="actionAdminControllerSetMedia" module="dashgoals" position="3"/>
			<hook hook="dashboardZoneTwo" module="dashgoals" position="2"/>
			<hook hook="actionSearch" module="dashproducts" position="1"/>
			<hook hook="dashboardData" module="dashproducts" position="4"/>
			<hook hook="actionObjectOrderAddAfter" module="dashproducts" position="2"/>
			<hook hook="dashboardZoneTwo" module="dashproducts" position="3"/>
			<hook hook="displayHeader" module="homeslider" position="27"/>
			<hook hook="displayTopColumn" module="homeslider" position="1"/>
			<hook hook="actionShopDataDuplication" module="homeslider" position="3"/>
			<hook hook="displayHeader" module="homefeatured" position="28"/>
			<hook hook="actionProductAdd" module="homefeatured" position="4"/>
			<hook hook="actionProductUpdate" module="homefeatured" position="4"/>
			<hook hook="actionProductDelete" module="homefeatured" position="4"/>
			<hook hook="actionCategoryUpdate" module="homefeatured" position="4"/>
			<hook hook="displayHomeTab" module="homefeatured" position="2"/>
			<hook hook="displayHomeTabContent" module="homefeatured" position="2"/>
			<hook hook="displayHeader" module="productpaymentlogos" position="29"/>
			<hook hook="displayProductButtons" module="productpaymentlogos" position="2"/>
			<hook hook="actionAuthentication" module="statsdata" position="1"/>
			<hook hook="displayFooter" module="statsdata" position="7"/>
			<hook hook="actionCustomerAccountAdd" module="statsdata" position="2"/>
			<hook hook="displayLeftColumn" module="themeconfigurator" position="14"/>
			<hook hook="displayHome" module="themeconfigurator" position="1"/>
			<hook hook="displayHeader" module="themeconfigurator" position="30"/>
			<hook hook="displayFooter" module="themeconfigurator" position="8"/>
			<hook hook="displayBackOfficeHeader" module="themeconfigurator" position="1"/>
			<hook hook="actionObjectLanguageAddAfter" module="themeconfigurator" position="2"/>
			<hook hook="displayHeader" module="blockwishlist" position="31"/>
			<hook hook="actionCartSave" module="blockwishlist" position="1"/>
			<hook hook="displayTop" module="blockwishlist" position="7"/>
			<hook hook="displayAdminCustomers" module="blockwishlist" position="1"/>
			<hook hook="displayCustomerAccount" module="blockwishlist" position="1"/>
			<hook hook="displayProductButtons" module="blockwishlist" position="1"/>
			<hook hook="displayMyAccountBlock" module="blockwishlist" position="1"/>
			<hook hook="displayProductListFunctionalButtons" module="blockwishlist" position="1"/>
			<hook hook="displayHeader" module="productcomments" position="32"/>
			<hook hook="displayRightColumnProduct" module="productcomments" position="2"/>
			<hook hook="displayProductTab" module="productcomments" position="1"/>
			<hook hook="displayProductTabContent" module="productcomments" position="1"/>
			<hook hook="displayProductComparison" module="productcomments" position="1"/>
			<hook hook="displayProductListReviews" module="productcomments" position="1"/>
			<hook hook="displayHeader" module="sendtoafriend" position="33"/>
			<hook hook="displayLeftColumnProduct" module="sendtoafriend" position="1"/>
			<hook hook="displayBackOfficeTop" module="onboarding" position="1"/>
			<hook hook="actionAdminControllerSetMedia" module="onboarding" position="5"/>
		</hooks>
	</modules>
	<images>
		<image categories="false" height="80" manufacturers="false" name="cart_default" products="true" scenes="false" suppliers="false" width="80"/>
		<image categories="false" height="98" manufacturers="true" name="small_default" products="true" scenes="false" suppliers="true" width="98"/>
		<image categories="true" height="125" manufacturers="true" name="medium_default" products="true" scenes="false" suppliers="true" width="125"/>
		<image categories="false" height="250" manufacturers="false" name="home_default" products="true" scenes="false" suppliers="false" width="250"/>
		<image categories="false" height="458" manufacturers="true" name="large_default" products="true" scenes="false" suppliers="true" width="458"/>
		<image categories="false" height="800" manufacturers="false" name="thickbox_default" products="true" scenes="false" suppliers="false" width="800"/>
		<image categories="true" height="217" manufacturers="false" name="category_default" products="false" scenes="false" suppliers="false" width="870"/>
		<image categories="false" height="270" manufacturers="false" name="scene_default" products="false" scenes="true" suppliers="false" width="870"/>
		<image categories="false" height="58" manufacturers="false" name="m_scene_default" products="false" scenes="true" suppliers="false" width="161"/>
	</images>
</theme>