@media (min-width: 320px) and (max-width: 480px) {
  #search_block_top #search_query_top {
    width: 100% !important;
  }
  #header #header_logo img {
  	width: 100% !important;
  }
  .block {
 	margin-bottom: 15px !important;
  }
  .block .title_block:after, .block h4:after {
  	text-align: center !important;
  }
  ul.footer_links li + li {
  	margin-left: 8px !important;
  }
  #manufacturers_block_left, #suppliers_block_left, #layered_block_left, .block.informations_block_left, .block.products_block {
  	padding: 11px;
  }
}

@media (min-width: 414px) and (max-width: 736px) {
  #search_block_top #search_query_top {
    width: 100% !important;
  }
  .button-container {
    text-align: center;
  }
  .button.exclusive-medium span {
    padding-right: 8px;
    padding-left: 5px;
  }
}

@media (min-width: 980px) {
  #cmsinfo_block .icon-phone:before {
    color: #fff;
  }
  #homepage-slider .bx-wrapper {
    max-width: 1170px !important;
  }
  #homepage-slider .homeslider-container {
    max-width: 1170px !important;
    width : 1170px !important;
  }
}

@media (max-width: 767px) {
  #homepage-slider {
    padding-top: 0px !important;
  }
  #footer #newsletter_block_left .form-group .form-control {
    width: 82% !important;
  }
  #footer #newsletter_block_left .form-group .button-small {
    right: 10% !important;
  }
}  

@media (min-width: 960px) and (max-width: 966px) {
  #footer #newsletter_block_left .form-group {
    width: 191px !important;    
  }
  #footer #newsletter_block_left .form-group .form-control {
    width: 231px !important;
  }
}

@media (max-width: 1280px) {
  #cmsinfo_block ul li {
    border: none !important;
  }
  .footer-container #footer #social_block ul li {
    margin-right: 17px !important;
  }
  .footer-container #footer #social_block h4 {
    display: none !important;
  }
} 