.header_user_info {
  float: right;
  /* border-left: 1px solid #515151; */
  border-right: 1px solid #C7C7C7; 
  margin-right: 12px;
}
.header_user_info a {
  color: rgb(102, 102, 102);
  font-weight: bold;
  display: block;
  /* padding: 8px 9px 11px 8px; */
  cursor: pointer;
  line-height: 18px; 
  margin-right: 10px;
  text-transform: capitalize;
}
@media (max-width: 479px) {
  .header_user_info a {
    font-size: 11px; } }
.header_user_info a:hover, .header_user_info a.active {
  color: #59b210; }
